.icon-row{
    display: flex;
    justify-content: space-between;
}

.icon-row__icon
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-row__icon2{
    display: flex;
    flex-direction: column;
}

.icon-row__icon i,
.icon-row__icon2 i{
    font-size: 35px;
}

.icon-row__icon span,
.icon-row__icon2 span
{
    margin-top: 18px;
}

